.product-page {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px 80px;
  background: #f9fafb;
  min-height: 100vh;

  background-color: #002714;
}

.hero__content{
  width: 476px;
}

/* back */
.back-link {
  display: inline-block;
  margin-bottom: 20px;
  color: #666;
  text-decoration: none;
}

.back-link:hover {
color: #b1ce3b;
 filter: drop-shadow( 0 4px 10px #b1ce3b);
 background-color: transparent ;
}

/* hero */
.hero {
  width: 100%;
  display: flex;
gap: 2.5rem;
  align-items: start;
  justify-content: center;

}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
  }
}

.hero-image img {
  max-width: 474px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #203e2e;
}



.emoji {
  width: 48px;
  font-size: 40px;
  display: block;
  margin-bottom: 1rem;
}

.title {
  width: 476px;
  font-size: 32px;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
  color: #b1ce3b;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Montserrat, sans-serif;
  margin-bottom: 1rem;
}

/* card */

.info-card {
  background: #1c402c80;
width: 484px;
  padding: 20px;
  border-radius: 16px;
  margin-top: 15px;
}
.info-card h4{
  color: #b1ce3b;
      font-weight: 700;
          font-size: 0.875rem;
    line-height: 1.25rem
;
margin-bottom: 8px;
font-family: Montserrat, sans-serif;
}
.info-card h3{
  display: inline-flex;
    align-items: center;
    background-color: hsl(var(--primary) / .1);
    font-family: Montserrat, sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color:#b1ce3b;
    gap: 0.5rem;
    border-radius: 9999px;
    padding: 8px 16px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #20421d;
    margin-bottom: 16px;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 6px;
  color: #e0f0c2;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  gap: 0.5rem;
}

.bold {
  font-weight: bold;
}

/* grid */
.info-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .info-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.right-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}