.products-section {
  padding: 80px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.products-header {
  text-align: center;
  margin-bottom: 50px;
}

.products-title {
      font-family: var(--third-family);
font-weight: 900;
font-size: 53px;
line-height: 122%;
letter-spacing: 0em;
color: #c9cf43;
margin-left: 20px;
}

.products-subtitle {
   width: 100%;
  font-family: var(--font-family);
font-weight: 400;
font-size: 19px;
line-height: 142%;
color: #fff;
line-height: 170%;
margin: 0 auto;
margin-bottom: 2px;
margin-top: 12px;
opacity: 0.8;
}

/* Grid */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}

/* Card */
.product-card {
  display: block;
  text-decoration: none;
  color: inherit;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
  animation: fadeIn 0.5s ease forwards;
  opacity: 0;
  border: 1px solid #244231;
  background-color: #0c311d;
}

.product-card:hover {
  transform: translateY(-5px);
  border-color: #c9cf43;
  filter: drop-shadow( 2px 2px 2px #c9cf43);
}

/* Image */
.image-wrapper {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.product-card:hover img {
  transform: scale(1.05);
}

/* Content */
.card-content {
  padding: 20px;
}

.emoji {
  font-size: 24px;
}

.product-name {
  margin-top: 8px;


     width: 313px;
  font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 142%;
 color: #b1ce3b;
line-height: 170%;
margin: 0 auto;
margin-bottom: 2px;
opacity: 0.8;
}

.product-desc {
  margin-top: 4px;
  margin-top: 10px;


     width: 313px;
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 142%;

line-height: 170%;
margin: 0 auto;


  color: #a0ad85;
}

/* Animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}