.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 40px 0;
}

.product-card {
  background: #0a3622; /* Card foni to'qroq */
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #ffffff1a;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.card-image img {
  width: 100%;
  height: 250px;
  object-fit: cover; /* Rasm cho'zilib ketmasligi uchun */
}

.card-content {
  padding: 20px;
  text-align: left;
}

.emoji {
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
}

.short-desc {
  color: #c9cf43; /* Kaloriya rangi */
  font-size: 14px;
  margin: 10px 0;
}

.view-btn {
  width: 100%;
  padding: 12px;
  background: #27ae60;
  border: none;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.r1{
    text-align: center;
}
.rp{
    text-align: center;
}